body {
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
}

ol, 
ul {
    list-style: none;
}

a {
    text-decoration: none;
}
header {
    background-color: rgb(175, 64, 88);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


h2 {
    font-size: 7;
    color: rgb(175, 64, 88);
}

header a i {
    color: white;
    font-size: 3em;
    padding: 0.5em;
}

header nav ul {
    display: flex;
    gap: 1.1em;
}


header nav ul li a {
    color: white;
}



.section-1 {
    background-color: rgb(0, 0, 0);    
    padding: 5% 30%  5% 30%;
    max-width: 100%;
    justify-content: center;
}

.img-acerca{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-historia{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagenes{
    
    align-items: center;
    justify-content: center;
}

footer {
    background-color: black;
    width: 100%;  
}
footer h3 {
    font-size: 7;
    color: rgb(175, 64, 88);
}

footer nav ul li a {
    color: white;
}

footer a i {
    color: rgb(175, 64, 88);
    position: fixed;
    bottom: 22px;
    right: 39px;
}

@media(max-width:768px) {
    body {
        margin: 0;
        padding: 0;
        font-family: 'Play', sans-serif;
        background-color: rgb(255, 255, 255);
    }
    header { 
        background-color: rgb(175, 64, 88);
    }
    
    

    h2 { color: rgb(175, 64, 88);}
    .section-1 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center
        
    }

}
